<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <script></script>
</head>
<body>
<div class="form">
    <form action="/shop/register.php" method="post">
        <div>用户名<input type="text" name="username" id="username" placeholder="用户名唯一，一旦填写不可修改"></div>
        <div>密码<input type="password" name="pwd" id="pwd"></div>
        <div>手机号<input type="text" name="tel" id="tel"></div>
        <div>邮箱<input type="text" name="email" id="email"></div>
        <div><input type="submit" value="注册"></div>
    </form>
</div>
</body>
</html>