* {
    margin: 0;
    padding: 0;
}

div.form {
    width: 300px;
    margin: 10px auto;
}

form div {
    float: right;
    margin: 10px;
}

input[type="submit"]{
    padding:10px;
    width:50px;
    margin: 10px 100px 100px;
    border:0px;
    border-radius: 3px;
    cursor:pointer;
}

.header {
    height:50px;
}